<form id="{{appId}}" data-level="{{level}}" data-id="{{advancement.id}}" data-type="{{type}}">
  <h3>{{{this.title}}}</h3>

  <ul class="ability-scores">
    {{#unless staticIncrease}}
    <label>
        {{ pointsRemaining }}
    </label>
    {{/unless}}
    {{#each abilities}}
      {{> "n5e.advancement-ability-score-control" this canAdjust=(not @root.staticIncrease)}}
    {{/each}}
  </ul>
</form>