<div class="form-group">
  <label>{{localize "N5E.AbilityModifier"}}</label>
  <div class="form-fields">
    <select name="configuration.jutsu.ability">
      {{selectOptions CONFIG.abilities selected=configuration.jutsu.ability labelAttr="label" blank="—"}}
    </select>
  </div>
</div>

<div class="form-group">
  <label>{{localize "N5E.LimitedUses"}}</label>
  <div class="form-fields">
    <input type="text" name="configuration.jutsu.uses.max" value="{{configuration.jutsu.uses.max}}" data-formula-editor>
    <select name="configuration.jutsu.uses.per">
      {{selectOptions CONFIG.limitedUsePeriods selected=configuration.jutsu.uses.per blank="—"}}
    </select>
  </div>
</div>