<div class="tab flexrow active" data-group="primary" data-tab="description">

    <div class="item-properties">
        {{#if isPhysical}}
        <div class="form-group">
            <label>{{ localize "N5E.Quantity" }}</label>
            {{numberInput system.quantity name="system.quantity"}}
        </div>

        <div class="form-group">
            <label>{{ localize "N5E.Bulk" }}</label>
            {{numberInput system.bulk name="system.bulk"}}
        </div>

        <div class="form-group">
            <label>{{ localize "N5E.Price" }}</label>
            {{numberInput system.price.value name="system.price.value"}}
        </div>
        {{/if}}

        {{#if (or labels.toHit labels.derivedDamage)}}
        <h4 class="properties-header">{{localize "N5E.Attack"}}/{{localize "N5E.Damage"}}</h4>
        <ol class="properties-list">
            {{#if labels.save}}
            <li>
                {{labels.save}}
            </li>
            {{/if}}

            {{#if labels.toHit}}
            <li>
                {{labels.toHit}} {{localize "N5E.ToHit"}}
            </li>
            {{/if}}

            {{#each labels.derivedDamage}}
            <li>
                {{label}}
            </li>
            {{/each}}
        </ol>
        {{/if}}

        {{#if itemProperties.length}}
        <h4 class="properties-header">{{localize "N5E.Properties"}}</h4>
        <ol class="properties-list">
            {{#each itemProperties}}
            <li>{{this}}</li>
            {{/each}}
        </ol>
        {{/if}}
    </div>

    {{editor descriptionHTML target="system.description.value" button=true editable=editable engine="prosemirror"
             collaborate=false}}
</div>