<div class="traits">
    <div class="form-group {{traits.traits.languages.cssClass}}">
        <label>{{localize "N5E.Languages"}}</label>
        <a class="property-selector" data-trait="languages"
           data-tooltip="{{localize 'N5E.TraitConfig' trait=(localize 'N5E.Languages')}}" tabindex="0">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each traits.traits.languages.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>
</div>