<form id="ability-use-form">
    <p>{{title}}</p>
    <p class="notes">{{note}}</p>
    {{#each errors}}
    <p class="notification error">{{this}}</p>
    {{/each}}

    {{#if consumeChakra}}
    <div class="form-group">
        <label>{{ localize "N5E.JutsuCastUpcast" }}</label>
        <div class="form-fields">
            <select name="chakraCost">
                {{#select item.system.rank}}
                {{#each jutsuRanks as |r|}}
                <option value="{{r.rank}}" {{disabled (not r.canCast)}}>{{r.label}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="consumeChakra" checked>{{localize "N5E.JutsuCastConsume"}}
        </label>
    </div>
    {{/if}}

    {{#if featureChakra}}
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="featureChakra" checked>{{localize "N5E.JutsuCastConsume"}}
        </label>
    </div>
    {{/if}}

    {{#if consumeResource}}
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="consumeResource" checked>{{localize "N5E.ConsumeResource"}}
        </label>
    </div>
    {{/if}}

    {{#if consumeRecharge}}
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="consumeRecharge" checked>{{localize "N5E.ConsumeRecharge"}}
        </label>
    </div>
    {{/if}}

    {{#if createTemplate}}
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="createMeasuredTemplate" checked>{{localize "N5E.PlaceTemplate"}}
        </label>
    </div>
    {{/if}}
</form>