<form autocomplete="off">
    <input type="text" name="preview" value="{{preview}}" disabled>

    <div class="form-group stacked">
        <label>{{ localize "N5E.CreatureType" }}</label>
        <ul class="trait-list">
            {{#each types as |type key|}}
            <li>
                <label class="radio">
                    <input type="radio" name="value" value="{{key}}" data-dtype="String" {{checked type.chosen}}/>
                    {{type.label}}
                </label>
            </li>
            {{/each}}
            <li class="custom-type form-group">
                <input type="radio" name="value" value="custom"
                       data-tooltip="{{custom.label}}" {{checked custom.chosen}}>
                <label>{{custom.label}}</label>
                <input type="text" name="custom" value="{{custom.value}}"/>
            </li>
            <li class="subtype form-group">
                <label>{{ localize "N5E.CreatureTypeSelectorSubtype" }}</label>
                <input type="text" name="subtype" value="{{subtype}}"/>
            </li>
        </ul>
    </div>

    <div class="rank form-group">
        <label>{{ localize "N5E.CreatureRank" }}</label>
        <select name="rank">
            {{selectOptions ranks selected=rank blank="" localize=true}}
        </select>
    </div>

    <div class="swarm-size form-group">
        <label>{{ localize "N5E.CreatureSwarmSize" }}</label>
        <select name="swarm">
            {{selectOptions sizes selected=swarm blank="" localize=true}}
        </select>
    </div>

    <button type="submit">
        <i class="far fa-save"></i> {{ localize "N5E.TraitSave"}}
    </button>
</form>