<form id="long-rest" class="dialog-content" onsubmit="event.preventDefault();">
   <p>{{ localize "N5E.LongRestHint" }}</p>

    {{#if promptNewDay}}
    <div class="form-group">
        <label>{{ localize "N5E.NewDay" }}</label>
        <input type="checkbox" name="newDay" {{checked newDay}}/>
        <p class="hint">{{ localize "N5E.NewDayHint" }}</p>
    </div>
    {{/if}}

    <div class="dialog-buttons">
        {{#each buttons as |button id|}}
        <button class="dialog-button" data-button="{{id}}">
            {{{button.icon}}}
            {{{button.label}}}
        </button>
        {{/each}}
    </div>
</form>