<form class="{{cssClass}} flexcol" autocomplete="off">

	{{!-- Item Sheet Header --}}
	<header class="sheet-header flexrow">
		<img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img"/>

		<div class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'N5E.ItemName' }}"/>
			</h1>

			<div class="item-subtitle">
				<h4 class="item-type">{{itemType}}</h4>
				<span class="item-status">{{itemStatus}}</span>
			</div>

			<ul class="summary flexrow">
				<li>
					<select name="system.rarity">
						{{selectOptions config.itemRarity selected=system.rarity blank=""}}
					</select>
				</li>
				<li>
					<input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'N5E.Source' }}"/>
				</li>
			</ul>
		</div>
	</header>

	{{!-- Item Sheet Navigation --}}
	<nav class="sheet-navigation tabs" data-group="primary">
		<a class="item active" data-tab="description">{{ localize "N5E.Description" }}</a>
		<a class="item" data-tab="details">{{ localize "N5E.Details" }}</a>
	</nav>

	{{!-- Item Sheet Body --}}
	<section class="sheet-body">

		{{!-- Description Tab --}}
		{{> "n5e.item-description"}}

		{{!-- Details Tab --}}
		<div class="tab details" data-group="primary" data-tab="details">
			<h3 class="form-header">{{localize 'N5E.ItemContainerDetails'}}</h3>

            <div class="form-group stacked">
                <label>{{ localize "N5E.ItemContainerStatus" }}</label>
                <label class="checkbox">
                    <input type="checkbox" name="system.equipped" {{ checked system.equipped }}>
                    {{ localize "N5E.Equipped" }}
                </label>
            </div>

			<div class="form-group">
				<label>{{localize 'N5E.ItemContainerCapacity'}}</label>
				<div class="form-fields">
					{{numberInput system.capacity.value name="system.capacity.value" placeholder="&mdash;"}}
				</div>
			</div>

			<div class="form-group">
				<label>{{localize 'N5E.ItemContainerCapacityType'}}</label>
				<select name="system.capacity.type">
					{{selectOptions config.itemCapacityTypes selected=system.capacity.type}}
				</select>
			</div>

			<div class="form-group stacked">
				<label>{{localize 'N5E.ItemContainerProperties'}}</label>
				<label class="checkbox">
					<input type="checkbox" name="system.capacity.weightless" {{checked system.capacity.weightless}}>
					{{localize 'N5E.ItemContainerWeightless'}}
				</label>
			</div>
	</section>
</form>