<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'N5E.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    {{#if system.toolType}}
                      {{lookup config.toolTypes system.toolType}}
                    {{else}}
                      {{localize "ITEM.TypeTool"}}
                    {{/if}}
                </li>
                <li>
                    <input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'N5E.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "N5E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "N5E.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "N5E.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "n5e.item-description"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            {{!-- Tool Status --}}
            <div class="form-group stacked">
                <label>{{ localize "N5E.ItemToolStatus" }}</label>
                <div class="form-fields">
                    <label class="checkbox">
                        <input type="checkbox" name="system.equipped" {{ checked system.equipped }}>
                        {{ localize "N5E.Equipped" }}
                    </label>
                </div>
            </div>

            {{!-- Tool Type --}}
            <div class="form-group">
                <label>{{ localize "N5E.ItemToolType" }}</label>
                <select name="system.toolType">
                    {{selectOptions config.toolTypes selected=system.toolType blank=""}}
                </select>
            </div>

            <div class="form-group">
                <label>{{ localize "N5E.ItemToolBase" }}</label>
                <select name="system.baseItem">
                    {{selectOptions baseItems selected=system.baseItem blank=""}}
                </select>
            </div>

            {{!-- Tool Proficiency --}}
            <div class="form-group">
                <label>{{ localize "N5E.ItemToolProficiency" }}</label>
                <select name="system.proficient" data-dtype="Number">
                    {{selectOptions config.proficiencyLevels selected=system.proficient
                                    blank=(localize "N5E.Automatic")}}
                </select>
            </div>

            {{!-- Ability Check --}}
            <div class="form-group">
                <label>{{ localize "N5E.DefaultAbilityCheck" }}</label>
                <select name="system.ability">
                    {{selectOptions config.abilities selected=system.ability labelAttr="label"
                                    blank=(localize "N5E.Default")}}
                </select>
            </div>

            {{!-- Tool Bonus --}}
            <div class="form-group">
                <label>{{ localize "N5E.ItemToolBonus" }}</label>
                <input type="text" name="system.bonus" value="{{system.bonus}}" data-formula-editor/>
            </div>

            {{!-- Chat Message Flavor --}}
            <div class="form-group stacked">
                <label>{{ localize "N5E.ChatFlavor" }}</label>
                <input type="text" name="system.chatFlavor" value="{{system.chatFlavor}}"/>
            </div>

            <h3 class="form-header">{{ localize "N5E.ItemToolUsage" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "n5e.item-activation"}}
            {{#if system.activation.type}}
            <div class="form-group">
                <label class="checkbox">
                    <input type="checkbox" name="system.uses.autoDestroy" {{checked system.uses.autoDestroy}}/> {{ localize "N5E.ItemDestroyEmpty" }}
                </label>
            </div>
            {{/if}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "n5e.active-effects"}}
        </div>
    </section>
</form>